body {
  background-color: rgb(221, 221, 221);
}

.search-form {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px 25px;
  background-color: rgb(231, 156, 58);
  color: grey;
}

input[name="searchQuery"] {
  width: 400px;
  padding: 7px 15px;
  outline: transparent;
  border-radius: 30px;
  border: none;
}

.submit__btn{
  position: absolute;
  top: 20px;
  right: 39%;
  display: block;
  padding: 7px 30px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
  transition: background-color 300ms linear;
  color: rgb(175, 175, 175);
  cursor: pointer;
}
.gallery {
  display: flex;
  max-width: 1600px;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.photo-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.img-link {
  border-radius: 30px;
  display: block;
  text-decoration: none;
  }

.gallery-img {
  display: block;
  width: 350px;
  height: 250px;
  transition: transform 300ms linear;
  &:hover {
    transform: scale(1.1);}
}

.info {
  display: flex;
  justify-content: space-evenly;
  color: darkblue;
  font-size: 18px;
  background-color: #fff;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  line-height: 1.5;
}

.load-more {
  margin: 30px auto;
}

.end-search__info {
  display: none;
  text-align: center;
  color: darkblue;
  font-size: 20px;

  margin-top: 20px;
  margin-bottom: 25px;

  &.show {
    display: block;
  }
}

.svg-icon {
fill: currentColor;
transition: fill 250ms linear;

&:hover,
&:focus {
  fill:rgb(231, 156, 58)
}
}